@import '../common.scss';
// scss에서는 이 주석을 사용할 수 있습니다.

.PostList {
  &__title {
    color: $main-color;
    &--loading {
      color: $sub-color;
    }
  }
  &__list {
    @include common-border;
    @include desktop {
      border: 5px dotted lime;
    }
  }
  &__item {
    color: blue;
  }
}
