.App {
  text-align: center;
  font-family: 'Hack';
  background-color: rgba(255, 192, 203, 0.6);
  color: purple;
  width: 400px;
  margin: 30px auto;
  padding: 30px;
  box-shadow: 10px 5px 5px #eeeeee;
}